* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.8rem;
}

li {
  font-size: 2rem;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/*----------------head-------------*/

header {
  position: fixed;
  background: transparent;
  color: rgb(205, 144, 1);
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}
.main-head.sticky {
  background: #fff;
}
.main-head.sticky nav ul li a {
  color: #000000;
}
nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

nav ul {
  position: relative;
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 500px;
  transition: 0.6s;
}

header ul li a:hover {
  color: rgb(205, 144, 1);
  text-decoration: underline;
}

#logo {
  flex: 2 1 40rem;
}

.nav .toggle_btn {
  color: #010101;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

/***responsive*/

@media (max-width: 992px) {
  .nav ul {
    display: none;
  }

  .nav .toggle_btn {
    display: block;
  }
}

/*dropdown menu***/
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/************reservation***************/

.div1 {
  padding-top: 100px;
  width: 100%;
  height: 90vh;
  position: relative;
  /*background: transparent var(--background-image) center no-repeat;*/
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("royal.png");*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("div1.jpg");
  background-size: cover;
  transition: opacity 1s ease, transform 1s ease;
}
.div1.show {
  opacity: 1;
  transform: translateY(0);
}

.title {
  padding-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
}

.title h1 {
  background: linear-gradient(to right, #fefefe, #fffffffb);
  -webkit-background-clip: text;
  font-size: 3.5em;
  color: transparent;
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;
}

/*********ABOUT********/
/* Styles par défaut */

.row1 {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.col2 {
  flex: 1;
  margin: 0 20px;
}

.col2 h3 {
  font-size: 40px;
  color: #3b3326;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline 2px #977403;
}

p {
  margin-top: 20px;
  font-size: 2.2rem;
  color: #000000;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  border-radius: 15px;
}

.button:hover {
  scale: 1.09;
}
.button a {
  color: #fff;
  text-decoration: none;
}

.aaa {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Media Query pour appareils mobiles */

@media screen and (max-width: 600px) {
  .row1 {
    flex-direction: column;
    padding: 20px;
  }

  .col2 {
    margin: 20px 0;
  }

  p {
    line-height: 1.3;
    font-size: 1.2rem;
  }
}

/****Room****/
.our_room {
  margin-top: 160px;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f0f0f0;
}

.our_room .roomtitle {
  text-align: center;
  margin-bottom: 10px;
}

.roomtitle h3 {
  font-size: 40px;
  color: #3b3326;
  line-height: 45px;
  font-weight: bold;
  padding: 0;
  background-color: white;
  text-decoration: underline 2px #977403;
}

.scroll-container {
  overflow: hidden;
}

.room-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.room-item {
  background-color: #fff;
  flex: 0 0 auto;
  margin-right: 20px;
  width: 300px; /* Adjust the width of each room */
  margin-bottom: 20px;
}

.room-item img {
  width: 100%;
  height: 200px; /* Adjust the height of each room image */
  object-fit: cover;
  border-radius: 3px;
  transition: transform 0.5s ease-in-out;
}

.room-item img:hover {
  transform: scale(1.2);
}

.desc {
  padding: 15px;
  text-align: center;
}

.desc h3 {
  color: #121212;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.desc p {
  color: rgba(132, 127, 127, 0.807);
  margin: 5px 0;
  font-size: small;
}

.nav-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  margin-left: -25px;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  font-size: 60px;
  cursor: pointer;
  color: #000000;
}

.arrow:hover {
  color: #ffaa00;
}
.right {
  margin-right: -50px;
}

/***************Event ****************************/

/* Update these styles for the Events section */

.sectionEv {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}
.hotel-events {
  max-width: 100%;
  padding: 20px 20px;
  background-color: #f0f0f0; /* Change the background color */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
}

.titleEvent {
  text-align: center;
  color: #3b3326;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline 2px #977403;
  margin-top: 100px;
}

.event {
  width: 280px; /* Adjust the width */
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.event:hover {
  transform: scale(1.05);
}

.event img {
  width: 100%;
  height: 60%; /* Adjust the height */
  object-fit: cover;
}

.event-details {
  padding: 5px;
  text-align: center;
}

.event-details h3 {
  color: #333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 5px 0;
}

.event-details p {
  color: #666;
  margin: 3px 0;
  font-size: small;
}

.reserve-event-btn {
  background-color: #977403;
  color: #fff;
  padding: 8px 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.reserve-event-btn:hover {
  background-color: #000000;
}

.reserve-event-btn a {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*********************Contact**************************/

.contact {
  background: #fff;
  margin-top: 90px;
}
.contact .titre {
  text-align: center;
  padding-bottom: 40px;
}

.contact .titre h3 {
  font-size: 40px;
  color: #121212;
  line-height: 45px;
  font-weight: bold;
  padding: 0;
  text-decoration: underline 2px #977403;
}

.main_form .contactus {
  border: #fff solid 1px;
  padding: 0 15px;
  margin-bottom: 25px;
  width: 100%;
  height: 48px;
  background: #fff;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 2px 0px 6px rgba(124, 82, 3, 0.2);
}

.main_form .textarea {
  border: #fff solid 1px;
  margin-bottom: 25px;
  width: 100%;
  background: #fff;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  padding: 12px 15px 0 15px;
  box-shadow: 2px 0px 6px rgba(124, 82, 3, 0.2);
  height: 150px;
}

.main_form .send_btn {
  font-size: 19px;
  transition: ease-in all 0.5s;
  background-color: #000000;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0px;
  max-width: 170px;
  width: 100%;
  display: block;
  margin-top: 10px !important;
  font-weight: 600;
  border-radius: 35px;
}

.main_form .send_btn:hover {
  background-color: #905804;
  transition: ease-in all 0.5s;
  color: #fff;
}

#request *::placeholder {
  color: #000000;
  opacity: 0.5;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*****************Footer*************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed {
  background: #121212;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 30px;
  border-radius: 50px 0 0 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #b36c10;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
  font-weight: bolder;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #938989;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
